.map {
    padding: 15px;
    background-color: #282828;
    width: 62%;
    border-radius: 10px;
    height: 600px;
}

svg path:hover {
    fill: #9c0000 !important;
    stroke-width: 2px;
}

@media (max-width:500px) {
    .map {
        width: 94%;
    }
}